<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openld.seniorstructure">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Senior">

        <activity
            android:name=".main.StructureMainActivity"
            android:exported="true"
            android:label="架构"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.openld.seniorstructure.mainpage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.testintentbigdata.TestIntentTransBIgDataActivity"
            android:exported="false"
            android:label="测试Intent传递大数据"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.testintentbigdata.TestIntentTransBigDataResultActivity"
            android:exported="false"
            android:label="测试Intent传递大数据结果页"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>