<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.openld.senior">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Senior">

        <activity
            android:name=".ndksection.main.NDKMainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".structuresection.main.StructureMainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".performancesection.main.PerformanceMainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- UI部分主页 -->
        <activity
            android:name=".uisection.main.UIMainActivity"
            android:exported="false"
            android:label="高级UI"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试RecyclerView -->
        <activity
            android:name=".uisection.testrecyclerview.TestRecyclerViewActivity"
            android:exported="false"
            android:label="测试RecyclerView"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试DrawerLayout -->
        <activity
            android:name=".uisection.testdrawerlayout.TestDrawerLayoutActivity"
            android:exported="false"
            android:label="测试DrawerLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试SnackBar -->
        <activity
            android:name=".uisection.testsnackbar.TestSnackbarActivity"
            android:exported="false"
            android:label="测试SnackBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试NavigationView -->
        <activity
            android:name=".uisection.testnavigationview.TestNavigationViewActivity"
            android:exported="false"
            android:label="测试NavigationView"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试TextInputLayout -->
        <activity
            android:name=".uisection.testtextinputlayout.TestTextInputLayoutActivity"
            android:exported="false"
            android:label="测试TextInputLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试Toolbar -->
        <activity
            android:name=".uisection.testtoolbar.TestToolbarActivity"
            android:exported="false"
            android:label="测试Toolbar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试CheckBox -->
        <activity
            android:name=".uisection.testcheckbox.TestCheckBoxActivity"
            android:exported="false"
            android:label="测试CheckBox"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试调色板与渐变Toolbar -->
        <activity
            android:name=".uisection.testpalette.TestPaletteActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:label="测试调色板与渐变Toolbar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试TabLayout -->
        <activity
            android:name=".uisection.testtablayout.TestTabLayoutActivity"
            android:exported="false"
            android:label="测试TabLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 测试沉浸式 -->
        <activity
            android:name=".uisection.testimmersion.TestImmersionActivity"
            android:exported="false"
            android:label="测试沉浸式"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SeniorNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".uisection.testcardview.TestCardViewActivity"
            android:exported="false"
            android:label="测试CardView"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".uisection.testcoordinatorlayout.TestCoordinatorLayoutActivity"
            android:exported="false"
            android:label="测试CoordinateLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".uisection.testappbarlayout.TestAppBarLayoutActivity"
            android:exported="false"
            android:label="测试AppBarLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>