<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.openld.seniorperform">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Senior">
        <activity
            android:name=".main.PerformanceMainActivity"
            android:exported="true"
            android:label="性能优化"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="com.openld.seniorperform.mainpage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>